.wrapper {
   font-size: 1.6rem;
   font-weight: 600;
   min-width: 106px;
   min-height: 36px;
   padding: 6px 8px;
   justify-content: center;
   line-height: 22px;
   cursor: pointer;
   border-radius: 4px;
   background-color: var(--white);
   border: 1px solid transparent;
   text-align: center;
   white-space: nowrap;
   + .wrapper {
      margin-left: 16px;
   }
}

.icon + .title,
.title + .icon {
   margin-left: 8px;
}

.icon {
   display: inline-block;
   width: 24px;
   text-align: center;
}
//button style
.primary {
   background-color: var(--primary);
   color: var(--white);

   &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
   }
}
.outline {
   color: var(--primary);
   border-color: currentColor;
}

.text {
   border-color: rgba(22, 24, 35, 0.12);
   font-style: normal;
   border-radius: 2px;
   font-weight: 600;
   width: 113px;

   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
   }
}

.disabled {
   opacity: 0.5;
   pointer-events: none;
}
.rounded {
   border-radius: 52px;
   box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
   border-color: rgba(22, 24, 35, 0.12);
}

//button sizes

.small {
   min-width: 88px;
   padding: 0px 10px;
   font-weight: 600;
   min-height: 28px;
}

.large {
   min-width: 168px;
   font-size: 1.8rem;
   min-height: 48px;
   line-height: 25px;
   font-weight: 600;
   padding: 6px 8px;
}
