@import 'normalize.css';

@font-face {
   font-family: ProximaNova;
   src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
   font-weight: 400;
}

@font-face {
   font-family: ProximaNova;
   src: url('/assets/fonts/ProximaNova-Semibold.woff2');
   font-weight: 600;
}

@font-face {
   font-family: ProximaNova;
   src: url('/assets/fonts/Proxima-Nova-Bold.woff');
   font-weight: 700;
}

@font-face {
   font-family: SofiaPro;
   src: url('/assets/fonts/sofiapro-bold.woff');
   font-weight: 700;
}
:root {
   --primary: #fe395f;
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --default-padding-horizontal: 0 24px 0 22px;
   --black: #000;
   --white: #fff;
   --font-family: 'ProximaNova', sans-serif;
   --text-color: rgb(22, 24, 35);
}
html {
   font-size: 62.5%;
   font-family: var(--font-family);
}

//  'proxima_nova_rgregulaaaar'

body {
   font-family: var(--font-family);
   font-size: 1.4rem;
   line-height: 1.5;
   text-rendering: optimizeSpeed;
   overflow-y: overlay;
   min-height: 100vh;
   background-color: rgba(255, 255, 255, 1);
   overscroll-behavior: contain;
   direction: ltr;
   -webkit-font-smoothing: antialiased;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

// scrollbar css

html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(22, 24, 35, 0.2);
}
html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
   outline: none;
   border: none;
   font-family: var(--font-family);

   background-color: transparent;
}

button {
   &:hover {
      cursor: pointer;
   }
}
a {
   text-decoration: none;
   color: var(--text-color);
   font-family: var(--font-family);
}

//custom tippy tooltips

body .tippy-box {
   background-color: rgba(84, 84, 84, 0.82);
   border-radius: 8px;
   padding: 2px;
   color: var(--white);
   font-size: 1.4rem;
   font-weight: 600;
   line-height: 2.2rem;
}

.tippy-arrow {
   color: rgba(84, 84, 84, 0.82);
}
