.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container {
   width: 100%;
   max-width: var(--default-layout-width);
   min-height: 1000px;
   background-color: #fff;
   display: flex;
   margin-top: var(--default-layout-header-height);
   padding: var(--default-padding-horizontal);
}

.content {
   width: 100%;
   max-width: 800px;

   min-height: 1000px;
}
