.Menu-item {
   display: flex;
   font-size: 1.8rem;
   font-weight: 700;
   align-items: center;
   padding: 8px;
   border-radius: 4px;
   transition: background-color ease-in-out 200ms;
   justify-content: flex-start;
   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
   }
   &.active {
      color: var(--primary);
   }
}
.title {
   margin-left: 8px;
   line-height: 25px;
}
