//menu-items

.menu-list {
   width: 224px;
   .menu-item {
      margin-left: 0;
   }
}

.menu-popper {
   padding-bottom: 8px;
}

.menu-item {
   width: 100%;
   display: flex;
   font-weight: 600;
   justify-content: flex-start;
   border-radius: 0;
   padding: 9px 16px;
   &:hover {
      background-color: rgba(22, 24, 35, 0.03);
   }
}
