.wrapper {
   width: 100%;
   background-color: rgba(255, 255, 255, 1);
   box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
   max-height: min((100vh - 96px) - 60px, 734px);
   min-height: 150px;
   display: flex;
   flex-direction: column;
   border-radius: 8px;
   padding-top: 8px;
}
