
.wrapper {
   display: flex;
   max-width: 100%;
   position: relative;

   padding: 20px 0;
   max-height: 100%;
   margin-bottom: 10px;
   flex: 1;
   box-shadow: 10px 10px px rgba(0, 0, 0, 0.3);
}
.container {
   margin-left: 12px;
   padding: 10px 0px;
   font-weight: 700;
   display: flex;
   width: 100%;
   flex-direction: column;
   justify-content: space-between;
   font-size: 1.6rem;
}
.videoWrapper {
   margin: 0px 40px 0px 20px;
   cursor: default;
   display: flex;
   border-radius: 10px;
   background-color: #333;

   align-items: center;
   min-height: 300px;
   overflow-y: hidden;
   max-width: 100%;
   position: relative;
   &:hover {
      .control-play,
      .report,
      .control-volume {
         opacity: 1;
      }
   }
}
.media {
   background: #333 center no-repeat;
   width: 100%;
   display: block;
   object-fit: cover;
}
.control-play {
   position: absolute;
   left: 12px;
   width: 40px;
   height: 40px;
   padding: 10px;
   opacity: 0;
   transition: opacity 0.3s;
   bottom: 26px;
}
//btn volume
.control-volume {
   position: absolute;
   bottom: 37px;
   left: unset;
   right: 24px;
   -webkit-transition: opacity 0.3s;
   transition: opacity 0.3s;
   opacity: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   &:hover {
      .containerVolume {
         opacity: 1;
      }
   }

   .containerVolume {
      display: flex;
      width: 24px;
      height: 64px;
      transform: o;
      opacity: 0;
      transition: opacity 0.3ss;
      margin: 8px 7px;
      position: relative;
      cursor: initial;
      background: rgba(22, 24, 35, 0.34);
      border-radius: 32px;
   }

   .volume-icon {
      display: flex;
   }

   input {
      -webkit-appearance: none;
      background-color: #fff;
      border-radius: 4px;
      bottom: 30px;
      height: 2px;
      position: absolute;
      right: -11px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 46px;

      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         width: 12px;
         height: 12px;
         background-color: #fff;
         border-radius: 50%;
         cursor: pointer;
      }
   }
}

// report
.report {
   position: absolute;
   top: 15px;
   right: 18px;
   color: #fff;
   opacity: 0;
}
//bio info acccounts
.avatar {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   margin-right: 12px;
   object-fit: cover;
   cursor: pointer;
   border-width: 0.5px;
}

.info {
   display: flex;
   justify-content: space-between;
}
.bio {
   display: flex;
}

.username {
   font-weight: 700;
   font-size: 1.8rem;
   line-height: 25px;
}
.fullname {
   font-weight: 400;
   font-size: 1.4rem;
}

.check {
   margin-left: 4px;
   font-size: 1.4rem;
   color: rgb(32, 213, 236);
}

.caption {
   font-weight: 400;
   font-size: 1.6rem;
}

.title_music {
   text-decoration-skip-ink: auto;
   color: rgba(22, 24, 35, 1);
   transition: color 250ms;
   text-decoration: none;
   margin-top: 20px;

   align-items: center;
   cursor: pointer;
}

.action {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   button {
      margin-top: 8px;
      margin-bottom: 6px;
   }
}
.btn-follow {
   // color: var(--primarycolor);
   &.active {
      border-color: rgb(208, 209, 211);
      color: rgb(22, 24, 35);
      background-color: rgb(248, 248, 248);
   }
}
.btn-wrapper {
   -webkit-box-align: center;
   align-items: center;
   padding: 0;
   outline: none;
   display: flex;
   width: 48px;
   height: 79px;
   flex-direction: column;
}
.btn-action {
   color: rgb(22, 24, 35);
   display: flex;
   -webkit-box-pack: center;
   justify-content: center;
   -webkit-box-align: center;
   align-items: center;
   width: 48px;
   height: 48px;
   font-size: 0px;
   border-radius: 50%;
   transition: all ease-in-out 200ms;
   background-color: rgba(22, 24, 35, 0.06);
   margin-top: 8px;
   margin-bottom: 6px;
}

.numbers {
   color: rgba(22, 24, 35, 0.75);
   font-size: 12px;
   line-height: 17px;
   text-align: center;
}
