.wrapper {
   //validation
   --search-border-radius: 92px;
   --search-hight: 46px;
   --search-top-spaces: 9px;
   --search-button-width: 52px;

   //css
   display: flex;
   max-width: 100%;
   position: fixed;
   height: var(--default-layout-header-height);
   width: 1331px;
   top: 0;
   right: 0px;
   box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
   justify-content: space-around;
   background: rgba(255, 255, 255, 1);
   align-items: center;
   z-index: 10;
   // background-color: #ccc;
}

.inner {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   max-width: 1150px;
   padding: var(--default-padding-horizontal);
   align-items: center;
}
.logo {
   display: flex;
   align-items: center;
}
.logo-link {
   display: flex;
}

.action {
   display: flex;
   flex-direction: row;
   align-items: center;
   position: relative;
}

.icon-plus {
   width: 1em;
   height: 1em;
   margin-right: 8px;
}
.btn-upload {
   width: 113px;
}

//Action

.action {
   display: flex;
   align-items: center;
   flex-direction: row;
}
.action-btn {
   height: 32px;
   padding: 3px 3px 0;

   position: relative;
   + .action-btn {
      margin-left: 16px;
   }
}

.user-avatar {
   margin-left: 24px;
   position: relative;
   width: 32px;
   height: 32px;
   background-size: cover;
   border-radius: 50%;
   cursor: pointer;
   background: center no-repeat;
}
.icon-action {
   display: block;
   width: 26px;

   height: 26px;
}
.more-btn {
   margin-left: 16px;
   position: relative;
   cursor: pointer;
   font-style: normal;
   background-color: transparent;
   width: 20px;
   height: 20px;

   padding: 0 4px;
}
